    <footer>
        <p>
            © 2019 - 2023 <br>
            Created by 
            <a href="https://www.linkedin.com/in/anish-karthik-psna/" target="_blank">Anish Karthik</a>
        </p>
    </footer>
</html>